body {
  width: 100%;
  color: #0d039f;
  font-size: clamp(0.5rem, 5vw, 1.25rem);
  font-weight: 400;
  text-align: center;
  font-family: "Dancing Script", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.01rem;
  line-height: 1.25;
}

header.header {
  width: 100%;
  padding: 1rem 0.8rem;
  box-sizing: border-box;
  border: 2px dotted #ffd700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/pergamino.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header .header__logo {
  width: 5rem;
}
header .header__menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
}
header .header__link {
  font-size: 0.9rem;
  font-weight: 800;
  text-align: center;
  text-decoration-color: #0d039f;
}
header .header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  gap: 0.9rem;
}
header .header__icon {
  cursor: pointer;
  box-sizing: border-box;
}

main .banner {
  width: 100%;
  padding: 4rem 0rem;
  text-align: center;
  background-image: url("../img/banner-gods2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  color: #0d039f;
}
main .banner.banner h2 {
  width: 100%;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}
main .banner.banner p {
  width: 50%;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  opacity: 0.7;
}
main .gods {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
main .gods input {
  display: none;
}
main .gods input:checked + .gods__text {
  max-height: 600px;
}
main .gods li {
  list-style: none;
}
main .gods li .gods__img {
  width: 100%;
  height: 500px;
  margin: 1rem auto;
}
main .gods li label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.05rem;
}
main .gods li label span {
  font-family: monospace;
  font-size: 1.5rem;
  color: #000000;
  transform: rotate(90deg);
  cursor: pointer;
}
main .gods li .gods__text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
main .gods li .gods__text p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05rem;
}

footer {
  width: 100%;
  padding: 1rem 0rem;
  font-size: 0.5em;
  font-weight: 400;
  text-align: center;
  background-image: url(../img/banner-galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 0.5rem;
}
footer #copy {
  color: #dab5f8;
  background-color: #33088f;
}
footer footer a[href*=www] {
  background-color: #8357f2;
}/*# sourceMappingURL=gods.css.map */